workflows/google-calendar-triage.json
{
  "name": "Triage — Google Calendar",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 15 } ] }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": { "__rl": true, "value": "primary", "mode": "list", "cachedResultName": "primary" },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.toISO() }}",
          "timeMax": "={{ $now.plus({ hours: 1 }).toISO() }}",
          "singleEvents": true,
          "orderBy": "startTime"
        }
      },
      "id": "a2222222-2222-4222-8222-222222222222",
      "name": "Events Starting Soon",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [460, 300],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "REPLACE_WITH_GOOGLE_CREDENTIAL", "name": "Google Calendar account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OLLAMA_MODEL, stream: false, format: 'json', prompt: 'You are my personal triage assistant. A calendar event is starting within the next hour. Decide whether it needs my personal attention (e.g. I should prepare, join, or act). Respond ONLY with a JSON object with exactly these keys: needs_response (boolean), action (a short imperative string describing what I should do), deadline (an ISO-8601 datetime string for when the event starts, or empty string), urgency (one of: low, medium, high, critical), one_line_summary (a single concise sentence). Calendar event JSON: ' + JSON.stringify($json).slice(0, 3000), options: { num_predict: 192, num_ctx: 2048 } }) }}",
        "options": {}
      },
      "id": "a3333333-3333-4333-8333-333333333333",
      "name": "Ollama Triage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $json.response; return { json: (typeof r === 'string' ? JSON.parse(r) : r) };"
      },
      "id": "a4444444-4444-4444-8444-444444444444",
      "name": "Parse Triage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-needs",
              "leftValue": "={{ $json.needs_response }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            },
            {
              "id": "cond-high",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "high",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-critical",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "critical",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "a5555555-5555-4555-8555-555555555555",
      "name": "Needs My Attention?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ntfy:80/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $env.NTFY_TOPIC, title: ($json.action || 'Calendar triage'), message: $json.one_line_summary + ($json.deadline ? ('\\nStarts: ' + $json.deadline) : ''), priority: ({ low: 2, medium: 3, high: 4, critical: 5 }[$json.urgency] || 3), tags: ['calendar', $json.urgency] }) }}",
        "options": {}
      },
      "id": "a6666666-6666-4666-8666-666666666666",
      "name": "Push to ntfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 220]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [[{ "node": "Events Starting Soon", "type": "main", "index": 0 }]]
    },
    "Events Starting Soon": {
      "main": [[{ "node": "Ollama Triage", "type": "main", "index": 0 }]]
    },
    "Ollama Triage": {
      "main": [[{ "node": "Parse Triage", "type": "main", "index": 0 }]]
    },
    "Parse Triage": {
      "main": [[{ "node": "Needs My Attention?", "type": "main", "index": 0 }]]
    },
    "Needs My Attention?": {
      "main": [
        [{ "node": "Push to ntfy", "type": "main", "index": 0 }],
        []
      ]
    }
  }
}
