workflows/slack-triage.json
{
  "name": "Triage — Slack",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {},
  "tags": [],
  "nodes": [
    {
      "parameters": {
        "trigger": ["app_mention", "message"],
        "watchWorkspace": true,
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [220, 300],
      "credentials": {
        "slackApi": { "id": "REPLACE_WITH_SLACK_CREDENTIAL", "name": "Slack account" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: $env.OLLAMA_MODEL, stream: false, format: 'json', prompt: 'You are my personal triage assistant. A new Slack message (a DM or an @mention) just arrived. Decide whether it needs my personal attention. Respond ONLY with a JSON object with exactly these keys: needs_response (boolean), action (a short imperative string describing what I should do), deadline (an ISO-8601 datetime string, or empty string if none), urgency (one of: low, medium, high, critical), one_line_summary (a single concise sentence). Slack message JSON: ' + JSON.stringify($json) }) }}",
        "options": {}
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Ollama Triage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const r = $json.response; return { json: (typeof r === 'string' ? JSON.parse(r) : r) };"
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Parse Triage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-needs",
              "leftValue": "={{ $json.needs_response }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            },
            {
              "id": "cond-high",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "high",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "id": "cond-critical",
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "critical",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Needs My Attention?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ntfy:80/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $env.NTFY_TOPIC, title: ($json.action || 'Slack triage'), message: $json.one_line_summary + ($json.deadline ? ('\\nDeadline: ' + $json.deadline) : ''), priority: ({ low: 2, medium: 3, high: 4, critical: 5 }[$json.urgency] || 3), tags: ['speech_balloon', $json.urgency] }) }}",
        "options": {}
      },
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Push to ntfy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 220]
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [[{ "node": "Ollama Triage", "type": "main", "index": 0 }]]
    },
    "Ollama Triage": {
      "main": [[{ "node": "Parse Triage", "type": "main", "index": 0 }]]
    },
    "Parse Triage": {
      "main": [[{ "node": "Needs My Attention?", "type": "main", "index": 0 }]]
    },
    "Needs My Attention?": {
      "main": [
        [{ "node": "Push to ntfy", "type": "main", "index": 0 }],
        []
      ]
    }
  }
}
